body {
    display: flex;
    flex-direction: column;
    /* background-color: #f5f2ff !important; */
    /* background-color: rgb(192, 230, 192) !important; */
}

h1 {
    text-justify: center;
    text-align: center;
    align-self: center;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
}

h3 {
    padding-left: 15%;
    padding-right: 10%;
    color: #2e4131;
    font-size: 26px;
}


h6 {
    padding-left: 15%;
    padding-right: 10%;
    color: #2e4131;

}

h5 {
    text-justify: center;
    text-align: center;
    align-self: center;
    font-size: 18px;
}

ul {
    padding-left: 12%;
    padding-right: 10%;
    font-size: 15px;
}

a {
    text-justify: center;
    text-align: center;
    align-self: center;
    color: green;
}

a :hover {
    text-justify: center;
    text-align: center;
    align-self: center;
    color: green;
    background-color: lightgray;
    border-radius: 15px;
}

.BoutonEDLA {
    text-justify: center;
    text-align: center;
    align-self: center;
    color: green;
    background-color: lightgray;
    border-radius: 15px;
}

.BoutonEDLA :hover {
    text-justify: center;
    text-align: center;
    align-self: center;
    color: green;
    background-color: lightgreen !important;
    border-radius: 15px;
}

H2 {
    text-justify: center;
    text-align: center;
}

.navbar-brand {
    border-radius: 50px;
}

.Logo {
    width: 30%;
    align-self: center;
}

.figure {
    width: 50%;
    align-self: center;
}

.figuretrois {
    width: 33%;
}

.troisfigures {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
}

.titrestable {
    color: #2e4131;
    font-weight: bold;
}

table {
    width: 70%;
    table-layout: fixed;
    align-items: center;
    align-self: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapses;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    border: 1px solid black;
    border-collapse: collapses;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid black;
    border-collapse: collapses;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-collapse: collapses;
}

.middle {
    text-align: center;
}

.Nous {
    width: 50%;
    align-self: center;
    border: 3px solid #768076;
    border-radius: 3%;
}

.H {
    width: 60%;
    align-self: center;
    border-color: #355E3B;
    border-style: solid;
}

.vert {
    display: flex;
    flex-direction: column;
    background-color: #355E3B;
    color: white;
}

.navbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-self: flex-start;
    width: 100%;
}

.Profil {
    padding-left: 10%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;

}

.NomProfil {
    width: 50%;
    padding: 2%;

}

.Ajouter {
    background-color: #CBC3E3;
    color: rebeccapurple;
    width: 80%;
    border-radius: 15px;
    text-align: center;
}

button[type=submit] {
    background-color: #CBC3E3;
    color: rebeccapurple;
    border-color: rebeccapurple;

}

button[type=submit]:hover {
    background-color: rebeccapurple;
    color: white;
    border-color: white;

}

.carousel {
    padding-top: 5%;
    height: 5%;
    padding-left: 10%;
    padding-right: 50%;
    position: relative;
    border-radius: 50%;
    padding-bottom: 2%;
}


.carouseltexte {
    padding-top: 5%;
    height: 5%;
    padding-left: 50%;
    padding-right: 10%;
    position: relative;
    border-radius: 50%;
    padding-bottom: 2%;
}

.carousel ol {

    padding-left: 10%;
    padding-right: 50%;
}

.moto {
    position: absolute;
    left: 55%;
    right: 5%;
    width: 40%;
    top: 200px;
    ;


}

.violet {
    background-color: #f5f2ff !important;
    height: 10%;
    width: 100%;
}

.orange {
    background-color: #a49ef6 !important;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;


}



.retour {
    position: relative;
    top: 25%;
    align-self: center;
    width: 30%;
    background-color: #a49ef6 !important;
    padding: 2%;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
}

.acces,
.Nom {
    color: rebeccapurple;
}



.card {
    position: relative;
    top: 2%;
    align-self: center;
    width: 60%;
    background-color: #a49ef6 !important;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;
    border-color: #a49ef6 !important;
    flex-direction: row;
}

.UneAnnonce {
    position: relative;
    top: 2%;
    align-self: center;
    width: 60%;
    background-color: #a49ef6 !important;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;
    border-color: #a49ef6 !important;
    flex-direction: row;
    border-radius: 20px;
}


.AnnonceClaire {
    position: relative;
    top: 2%;
    align-self: center;
    width: 60%;
    background-color: #F5F2FF !important;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;
    border-color: #F5F2FF !important;
    flex-direction: row;
    border-radius: 20px;
}

.ProfilAnnonce {
    position: relative;
    top: 2%;
    align-self: center;
    width: 60%;
    background-color: #a49ef6 !important;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;
    border-color: #a49ef6 !important;
    flex-direction: row;
    border-radius: 20px;
}


.GrandeAnnonce {
    position: relative;
    top: 10%;
    padding-top: 2%;
    align-self: center;
    width: 90%;
    background-color: #a49ef6 !important;
    padding: 2%;
    display: flex;
    margin-bottom: 2%;
    border-color: #a49ef6 !important;
    flex-direction: row;
    border-radius: 15px;
}




.ImagesAnnonces {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 15%;
    border-color: rebeccapurple !important;
}

.Prix {
    position: relative;

    width: 100%;


}

.Titre {
    position: relative;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;


}

.Colonne1 {

    padding-left: 2%;
    width: 44%;
    justify-content: space-between;


}

.Colonne3 {


    width: 33%;

}

.Colonne4 {
    flex-direction: column;

    width: 12%;
    align-self: end;
    align-items: end;
}


.Colonne2 {
    flex-direction: row;

    width: 10%;
    align-self: end;
    align-items: end;

}



.Cat {

    padding-left: 2%;
    width: 100%;

}

.pdp {

    position: absolute;
    top: 10%;
    right: 3%;
    width: 10%;
}

.Etat {
    top: 10%;
    width: 100%;
}

.Des {
    padding-left: 2%;
    width: 100%;
}

.BigDes {
    padding-left: 2%;
    width: 100%;
    font-size: 2rem;
}

.Nom {

    position: absolute;
    top: 35%;
    right: 3%;
    width: 10%;
}

.voir {

    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}


.custom-shape-divider-top-1681820198 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1681820198 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681820198 .shape-fill {
    fill: #F5F2FF;
}